*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #000000;
}

main {
  margin: 6% 0 8% 0;
  position: relative;
}
@media screen and (max-width: 650px) {
  main {
    margin-bottom: 15%;
  }
}

@font-face {
  font-family: "RobotoMono";
  src: url("/portfolio-bts-php-js/font/Roboto_Mono/static/RobotoMono-Regular.ttf");
}
@font-face {
  font-family: "Tangerine";
  src: url("/portfolio-bts-php-js/font/Tangerine/Tangerine-Regular.ttf");
}
body {
  font-family: "RobotoMono", sans-serif;
  color: #d3d3d3;
}

a {
  text-decoration: none;
  color: #d3d3d3;
  font-weight: 600;
  font-size: 25px;
}

a:hover {
  color: #023B6B;
  font-weight: 600;
  font-size: 25px;
}

h1 {
  text-align: center;
  font-size: 80px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

.important-word {
  font-size: larger;
  font-weight: bold;
  color: white;
}

.quote {
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  a {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
  a {
    font-size: 20px;
  }
}
.menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@media screen and (max-width: 1040px) {
  .menu {
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 0;
    text-align: right;
  }
}
.menu .item-menu {
  float: left;
  font-size: 20px;
  display: block;
  padding: 10px;
}
.menu .item-menu--right {
  position: absolute;
  right: 5%;
}

.site-header {
  width: 100%;
  background-color: #000000;
}
.site-header--name {
  text-align: left;
  margin: 1% 15% 1% 5%;
  font-family: "Tangerine";
  font-size: 50px;
}
.site-header--name:hover {
  font-size: 60px;
}
.site-header .identity-img {
  height: 150px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50px 50px 0;
  width: 100px;
}
.site-header .identity-img img {
  border-radius: 100%;
  width: 150px;
}
.site-header .navbar-toggler {
  padding-right: 15%;
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  font-style: italic;
  text-align: center;
  /*social-media toolbar*/
}
footer p {
  font-size: 15px;
}
footer .social-media {
  transform: scale(0.5);
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: transparent;
}

#scroll_to_top {
  position: fixed;
  bottom: 25%;
  right: 2%;
}

.separation {
  height: 2px;
  width: 100%;
  background: #023b6b;
  background: linear-gradient(90deg, rgb(2, 59, 107) 0%, rgb(59, 73, 180) 50%, rgb(252, 176, 69) 100%);
}

.reveal {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.77, 0.17, 0.43, 0.97);
}

.accueil {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.accueil .accueil-name {
  margin: 5% auto 0 auto;
}
.accueil .accueil-name .typewriter-name {
  font-size: 150px;
  font-family: "Tangerine", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 5% 0;
  letter-spacing: 0.15em;
  -webkit-animation: typewriting 3.5s steps(40, end);
          animation: typewriting 3.5s steps(40, end);
}
@media screen and (max-width: 1440px) {
  .accueil .accueil-name .typewriter-name {
    font-size: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .accueil .accueil-name .typewriter-name {
    font-size: 75px;
  }
}
@media screen and (max-width: 640px) {
  .accueil .accueil-name .typewriter-name {
    font-size: 50px;
  }
}
@-webkit-keyframes typewriting {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typewriting {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.accueil .accueil-name .accueil-resume {
  font-style: italic;
}
.accueil .accueil-button {
  width: 10%;
  margin: 2% auto;
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  font-size: 1em;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
}
.accueil .accueil-button:hover {
  padding: 10px;
  color: #ffffff;
  background-color: rgb(2, 59, 107);
  border: 0px solid #ffffff;
}

/*********************formation et experiences**********************/
.training {
  width: 80%;
  height: 150%;
  margin: 5% auto 5% auto;
  padding: 1% 5% 5% 5%;
  background: white;
  color: #363636;
  border-radius: 10px;
  text-align: center;
}
.training .separation {
  border-radius: 10px;
}
.training img {
  width: 100%;
  padding-top: 5%;
}
@media screen and (max-width: 1440px) {
  .training {
    height: 200%;
    width: 100%;
    border-radius: 0%;
    background-color: black;
    color: white;
  }
  .training img {
    border-radius: 10px;
  }
}

/*********************competences**********************/
.skills .container {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.skills .container h4 {
  margin: 2%;
  font-size: 25px;
  font-weight: 600;
}
@media screen and (max-width: 425px) {
  .skills .container {
    width: 90%;
  }
  .skills .container p {
    width: 90%;
  }
}
@media screen and (max-width: 1440px) {
  .skills .container {
    margin-left: 5%;
  }
}

/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
.carousel-inner .item img,
.carousel-inner .item a img {
  width: 70%;
  margin: auto;
}

/*********************contact**********************/
.contact .container {
  width: 100%;
}
.contact .container img {
  display: block;
  margin: auto;
}/*# sourceMappingURL=style.css.map */