.accueil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .accueil-name {
    margin: 5% auto 0 auto;
    // .highlight-word {
    //   color: $pink2;
    // }
    .typewriter-name {
      color: $blue;
      font-size: 150px;
      font-family: "Tangerine", sans-serif;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 0 5% 0;
      letter-spacing: 0.15em;
      animation: typewriting 3.5s steps(40, end);
      @media screen and (max-width: 1440px) {
        font-size: 100px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 75px;
      }
      @media screen and (max-width: 640px) {
        font-size: 50px;
      }
    }
    .accueil-resume {
      font-style: italic;
      p {
        font-size: 30px;
      }
    }
  }
  .accueil-button {
    // width: 10%;
    margin: 6% auto 0 auto;
    text-decoration: none;
    // padding: 10px;
    font-family: arial;
    font-size: 5em;
    color: $pink2;
    background-color: black;
    border-radius: 10px;
    &:hover {
      color: $blue;
    }
  }
}
