footer {
  display: flex;
  flex-direction: column;
  position: relative;
  font-style: italic;
  text-align: center;
  bottom: 1%;

  p {
    font-size: 15px;
  }

  /*social-media toolbar*/
  .social-media {
    transform: scale(0.5);
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: transparent;
  }
  // @media screen and (max-width: 1840px) {
  //   height: auto;
  //   margin-bottom: 4%;
  // }
}
