*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #000000;
}

main {
  margin: 5% 0 5% 0;
  position: relative;
  @media screen and (max-width: 650px) {
    margin-bottom: 15%;
  }
}
